{% include 'base.html' %}

{% block content %}
  {% load static %}
  {% load widget_tweaks %}
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
      {% include 'sidebar.html' %}
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 ">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0 text-white">Loans</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2 text-white"></i>John Doe
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid px-4">
               
<div class="d-flex">
    <div class="client-number bg-white rounded text-dark p-2 m-1">
        Total: 124
    </div>
    <div class="client-number bg-white rounded text-dark p-2 m-1">
        <a class="text-decoration-none text-dark " href="{% url 'add_loan' %}">ADD NEW</a>
    </div>
</div>
                <div class="row my-5">
                    <h3 class="fs-4 mb-3 text-white"> </h3>
                    <form action="" method="get">

                <div class="d-flex flex-wrap ">
                      
                        
                    {% for field in filter.form %}
                    <div class="col-2 p-1">
                        <div class="text-white">{{field.label}}</div> 
                        {% render_field field class=" form-control" %}

                    </div>
     
                    {% endfor %}
                    <br>
                 <div class="dd justify-content-center">
<br>
    <button type="submit" class=" btn btn-primary">FILTER</button>

</div>
                </div>
            </form>
<br>
<br>
                    <div class="col table-responsive w-100">
                        <table class="table bg-white rounded shadow-sm  table-hover text-capitalize ">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">NO</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Principle</th>
                                    <th scope="col">Interest</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Last Payment</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                            
                            {% for loan in loans %}
                                
                                
                                <tr>
                                    <th scope="row">11</th>
                                    <td>{{loan.client.first_name}} {{loan.client.last_name}} <br>{{loan.client.phone_number}}
                                    
                                    </td>
                                    <td>
                                        Total: {{loan.loan_amount}} <br>
                                        Paid: {{loan.loan_amount}}

                                    </td>
                                    <td>{{loan.interest_rate}}</td>
                                    <td>
                                        Start: {{loan.start_date|date}} <br>
                                        End: {{loan.end_date | date}}

                                    </td>
                                    <td> {{loan.start_date|date}} <br>
                                    Amount: 345,000</td>
                                    <td>{{loan.status}}</td>
                                    <td> <a href="{% url 'view_loan' loan.id %}">View</a> <br> delete</td>

                                </tr>

                                {% endfor %}

                              
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
    
    {% endblock content %}
  