<!-- Sidebar -->
{% load static %}
<div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading pb-2 mb-2">
        <h4 class="text-primary">
            <i class="fas fa-hand-holding-usd me-2"></i>
            LENDWISE
        </h4>
        {% comment %} <img src="{% static 'images/logo.png' %}" alt="lendwise" height="70"> {% endcomment %}
    </div>
    <hr>
    <div class="list-group list-group-flush my-3">
        <a href="{% url 'home' %}"
           class="list-group-item list-group-item-action bg-transparent second-text active"><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
        <a href="{% url 'clients' %}"
           class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-users me-2"></i>Clients</a>
        <a href="{% url 'loans' %}"
           class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-money-bill me-2"></i>Loans</a>
        <a href="#"
           class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fas fa-credit-card me-2"></i>Payments</a>
        <a href="{% url 'logout_user' %}"
           class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i class="fas fa-power-off me-2"></i>Logout</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->
